@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	h1,
	h2,
	h3,
	h4,
	h5,
	button {
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 48px;
		line-height: 60px;
	}
	h2 {
		font-size: 36px;
		line-height: 60px;
	}
	h3 {
		font-size: 20px;
		line-height: 30px;
	}
	h4 {
		font-size: 16px;
		line-height: 30px;
	}
	h5,
	button {
		font-size: 14px;
		line-height: 21px;
	}
	p, input, textarea {
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		padding: 0;
		margin: 0;
	}
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.container_center {
	text-align: center;
}