@import './default.scss';

header {
	height: 800px;
	background: url('../../assets/image.png') no-repeat;
	background-size: cover;
	background-position: center top;

	.hamburger {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		flex-flow: column;
		display: flex;
		gap: 6px;
		align-items: end;
		margin: 20px 30px 0 0;
		z-index: 5;

		.hamburger__line {
			width: 30px;
			height: 3px;
			background: black;
		}
		.line_short {
			width: 30px;
		}
		.line_long {
			width: 36px;
		}
	}

	.greeting {
		flex-flow: column;
		display: flex;
		padding: 200px 0 0 0;
		position: relative;
		z-index: 5;

		h1 {
			margin: 3px 0 25px;
		}

		.greeting__buttons {
			flex-flow: row;
			display: flex;
			gap: 20px;
		}
	}

	.social-media {
		position: absolute;
		left: 50px;
		top: 226px;
		flex-flow: column-reverse;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		h4 {
			writing-mode: vertical-rl;
			transform: rotate(-180deg);
		}

		span {
			width: 2px;
			height: 70px;
			background: black;
			border: 0;
		}

		.social-media__icons {
			flex-flow: column-reverse;
			display: flex;
			gap: 15px;
		}
	}

	.burger-menu-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		transition: opacity 0.3s ease-in-out;
	}

	.burger-menu-background-open {
		opacity: 75%;
		z-index: 10;
	}

	.burger-menu-background-close {
		opacity: 0;
		z-index: 0;
	}

	.burger-menu-links {
		position: fixed;
		top: 0;
		left: 0;
		width: 345px;
		height: 100%;
		background: #ffa501;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		transform: translateX(-100%);
		z-index: 20;

		img {
			position: absolute;
			top: 25px;
			right: 25px;
			cursor: pointer;
		}

		.menu-links {
			flex-flow: column;
			display: flex;
			gap: 15px;
			list-style-type: none;
			margin: 140px 0 0 40px;
			padding: 0;

			li {
				flex-flow: row;
				display: flex;
				gap: 20px;
				justify-content: start;
				align-items: center;

				span {
					display: block;
					width: 15px;
					height: 15px;
					border: 1px solid black;
					border-radius: 100%;
					background: transparent;
				}

				a {
					font-size: 24px;
					font-weight: 700;
					line-height: 36px;
					color: white;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
	}

	.burger-menu-links-open {
		transform: translateX(0);
	}

	.burger-menu-links-close {
		transform: translateX(-100%);
	}
}

.text-with-circle {
	flex-flow: row;
	display: flex;
	align-items: center;

	h4 {
		position: relative;
		top: 1px;
		left: -25px;
	}
}

.circle {
	min-width: 36px;
	min-height: 36px;
	border-radius: 100%;
	background: #ffa501;
}

.circle-small {
	min-width: 15px;
	min-height: 15px;
	border-radius: 100%;
	background: #ffa501;
}

.btn {
	font-weight: 700;
	font-size: 14px;
	margin: 0;
	padding: 12px 25px;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.btn_orange {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	background: rgb(255, 165, 1);
}

main {
	flex-flow: column;
	display: flex;
	padding: 0 0 90px 0;
	z-index: 5;

	section {
		margin: 120px 0 0 0;
	}
}
.experience {
	flex-flow: column;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		margin: 0 0 25px;
	}

	.experience_sections {
		flex-flow: row;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 60px 0 0 0;
		gap: 140px;

		.experience__education,
		.experience__work {
			flex-flow: row;
			display: flex;
			// gap: 35px;
		}

		.experience__line-vertical {
			min-height: 100%;
			flex-flow: column;
			display: flex;
			justify-content: center;
			align-items: center;

			.circle-small {
				margin: 9px 0 0 0;
			}
		}

		.experience__education__text {
			flex-flow: column;
			display: flex;
			gap: 45px;
			position: relative;
			align-items: start;
			left: -8px;

			h3 {
				padding: 0 0 0 42px;
			}

			.experience__education__element {
				flex-flow: column;
				display: flex;

				.element-heading {
					flex-flow: row;
					display: flex;
					align-items: center;
					justify-content: start;

					.element-heading__image {
						flex-flow: row;
						display: flex;

						img {
							position: relative;
							top: 8px;
							left: -35%;
						}
					}

					.element-heading__text {
						flex-flow: column;
						display: flex;
						align-items: start;
						justify-content: center;
					}
				}
			}

			.element-text {
				margin: 12px 0 0 42px;
				text-align: start;
				width: 375px;
			}
		}
	}
}

.heading-line_orange {
	width: 60px;
	height: 3px;
	background: #ffa501;
	border: 0;
}

.text-with-circle_center {
	flex-flow: row;
	display: inline-flex;
	align-items: center;
	padding: 0 0 0 36px;
	span {
		z-index: 1;
	}
	h4 {
		position: relative;
		left: -50%;
		z-index: 2;
	}
}

.line {
	background: black;
}

.line_vertical {
	width: 1px;
	height: 100%;
}

.line_horizontal {
	width: 42px;
	height: 1px;
}

.contacts {
	flex-flow: row;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 30px;
	padding: 0 50px;

	.contacts__image {
		background: url('../../assets/contacts.png') no-repeat;
		background-size: cover;
		background-position: center top;
		width: 400px;
		height: 600px;
	}

	img.contacts__image {
		// width: 400px;
		// height: 600px;
		height: 100%;
	}

	.contacts__form {
		// width: 100%;
		height: 100%;
		flex-flow: column;
		display: flex;
		justify-content: center;
		align-items: start;

		h5 {
			padding: 20px 0;
		}

		.contacts__form__social-media {
			flex-flow: row;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 25px;
		}

		form {
			flex-flow: column;
			display: flex;
			justify-content: center;
			align-items: start;

			.form {
				width: 100%;
				flex-flow: wrap;
				display: flex;
				// gap: 20px;
				justify-content: space-between;

				& > div {
					flex: 0 1 280px;

					input,
					textarea {
						width: 100%;
						border: 1px solid black;
						margin: 0;
						box-sizing: border-box;
					}
				}

				.form__text {
					flex: 0 1 100%;
					height: 190px;
				}
			}

			button {
				margin: 14px 0 0 0;
			}
		}
	}
}

.input {
	flex-flow: column;
	display: flex;
	align-items: start;
	margin: 0 0 5px;

	p {
		position: relative;
		padding: 0 8px;
		background: white;
		top: 10px;
		left: 12px;
	}

	input,
	textarea {
		padding: 14px 20px;
	}

	textarea {
		resize: none;
		font-family: 'Open Sans', sans-serif;
	}

	span {
		color: red;
		font-weight: 600;
		padding: 8px 0 0 0;
		display: none;
	}
}

@media screen and (width <= 1400px) {
	header {
		.greeting {
			padding: 200px 0 0 100px;
		}
		.social-media {
			top: 160px;
			left: 30px;
		}
	}

	main {
		section {
			margin: 80px 0 0 0;
		}
	}

	.experience {
		.experience_sections {
			gap: 70px;
			.experience__education__text {
				.element-text {
					width: 315px;
				}
			}
		}
	}
}

@media screen and (width <= 900px) {
	header {
		.hamburger {
			gap: 4px;

			.hamburger__line {
				width: 25px;
				height: 3px;
			}
			.line_short {
				width: 25px;
			}
			.line_long {
				width: 30px;
			}
		}
		.greeting {
			padding: 200px 0 0 0;
		}
		.social-media {
			top: 160px;
			left: 30px;
		}
	}

	main {
		section {
			margin: 80px 0 0 0;
		}
	}

	.experience {
		.experience_sections {
			gap: 40px;
			flex-flow: column;
			margin: 40px 0 0 0;

			.experience__education__text {
				.element-text {
					width: 315px;
				}
			}
		}
	}

	.contacts {
		img.contacts__image {
			display: none;
		}

		.contacts__form {
			form {
				.form {
					& > div {
						flex: 0 1 auto;
						min-width: 500px;

						input,
						textarea {
							width: 100%;
							border: 1px solid black;
							margin: 0;
							box-sizing: border-box;
						}
					}
				}
			}

			.contacts__form__social-media {
				img {
					width: 25px;
				}
			}

			h5 {
				padding: 15px 0;
			}
		}
	}
}

@media screen and (width <= 800px) {
	header {
		height: 640px;

		.social-media {
			display: none;
		}
	}
}

@media screen and (width <= 700px) {
	header {
		.greeting {
			padding: 200px 20px 0;

			h1 {
				margin: 3px 0 30px 0;
			}
		}
	}

	.contacts {
		padding: 0 20px;
		.contacts__form {
			form {
				.form {
					& > div {
						flex: 0 1 auto;
						width: 100%;

						input,
						textarea {
							width: 100%;
							border: 1px solid black;
							margin: 0;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}
