@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body button {
  font-weight: 700;
  padding: 0;
  margin: 0;
}
body h1 {
  font-size: 48px;
  line-height: 60px;
}
body h2 {
  font-size: 36px;
  line-height: 60px;
}
body h3 {
  font-size: 20px;
  line-height: 30px;
}
body h4 {
  font-size: 16px;
  line-height: 30px;
}
body h5,
body button {
  font-size: 14px;
  line-height: 21px;
}
body p,
body input,
body textarea {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container_center {
  text-align: center;
}

@media screen and (width <= 1200px) {
  .container {
    width: 900px;
  }
}
@media screen and (width <= 900px) {
  .container {
    width: 600px;
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body button {
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  body h1 {
    font-size: 36px;
    line-height: 45px;
  }
  body h2 {
    font-size: 20px;
    line-height: 45px;
  }
  body h3 {
    font-size: 16px;
    line-height: 25px;
  }
  body h4 {
    font-size: 14px;
    line-height: 25px;
  }
  body h5,
  body button {
    font-size: 12px;
    line-height: 21px;
  }
  body p,
  body input,
  body textarea {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (width <= 700px) {
  .container {
    width: 500px;
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body button {
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  body h1 {
    font-size: 30px;
    line-height: 40px;
  }
  body h2 {
    font-size: 18px;
    line-height: 40px;
  }
  body h3 {
    font-size: 16px;
    line-height: 25px;
  }
  body h4 {
    font-size: 14px;
    line-height: 25px;
  }
  body h5,
  body button {
    font-size: 12px;
    line-height: 21px;
  }
  body p,
  body input,
  body textarea {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (width <= 500px) {
  .container {
    width: 100%;
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body button {
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  body h1 {
    font-size: 26px;
    line-height: 39px;
  }
  body h2 {
    font-size: 20px;
    line-height: 60px;
  }
  body h3 {
    font-size: 18px;
    line-height: 30px;
  }
  body h4 {
    font-size: 16px;
    line-height: 24px;
  }
  body h5,
  body button {
    font-size: 14px;
    line-height: 21px;
  }
  body p,
  body input,
  body textarea {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    margin: 0;
  }
}